<div class="endNav">


    <div class="footer">
        <div class="nav-contacts">
            <a href="mailto: jasminreich0@gmail.com"> <img src="./img/gmail.png" alt="gmail-link"></a>
            <a href="https://github.com/JasminRdev"> <img src="./img/github.png" alt="github-link"></a>
            <a href="https://twitter.com/Jasmin_Rdev"> <img src="./img/twitter.png" alt="twitter-link"></a>
            <a href="https://www.linkedin.com/in/jasmin-reich-217148212/"> <img src="./img/linkedin.png"
                    alt="linkedIn-link"></a>
        </div>
        <p class="nameLink">© <%= year%> Jasmin R.</p>
    </div>
    <div class="resource-links">
        <a href="https://www.flaticon.com/free-icons/down-arrow" title="down arrow icons">Down arrow icons created by
            Stockio - Flaticon</a>
        <a href='https://de.freepik.com/fotos/mann'>Mann Foto erstellt von rawpixel.com - de.freepik.com</a></div>
    
</div>


</div>
</div>
</body>


</html>