<%- include('partials/header') %>



<div class="allCon">
<div class="container">
  <img class="secret" src="img/shh.png" alt="">
  <h1>You've discovered my secret!</h1>
  <hr>
  <% userWithSecret.forEach(function(user){ %>
    <p class="secretColor"><%=user.secret%></p>
    <% }); %>
  
   
</div>
<div class="homeButton">
  <a class="register"  href="/logout" role="button">Log Out</a>
  <a class="login" href="/submit" role="button">Submit a Secret</a></div>
</div>


<%- include('partials/footer') %>
